* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f7fb;
}

.container {
    background: white;
    padding: 40px;
    width: 500px;
    text-align: center;
    border: 2px solid black;
    border-radius: 8px;
}

#verification_heading {
    margin-bottom: 10px;
}

#verification_subtext {
    color: #555;
    font-size: 14px;
    margin-bottom: 30px;
}

.code-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.code {
    width: 60px;
    height: 70px;
    font-size: 32px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
}

.code:focus {
    border-color: black;
}

.info {
    background: #eee;
    padding: 10px;
    font-size: 13px;
    color: #777;
    border-radius: 5px;
}
